* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: Arial, x-locale-body, sans-serif;
  letter-spacing: -0.04448px;
  font-size: 18px;
  font-size: 16px;
}

/* header */

.main-header {
  width: auto;
  height: 4em;
  display: flex;
  flex-direction: row;
  border: 5px solid #83d0f2;
  border-width: 5px 0 0;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 0;
}

.main-header>* {
  line-height: 4em;
}

a {
  text-decoration: none;
  color: #333;
  display: block;
}

.list-nav>a:hover {
  background-color: #eee;
}

.logo-box {
  width: 15em;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}

.list-menu {
  width: 80%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.list-nav {
  width: 100%;
  text-align: center;
}

.list-login,
.search {
  list-style-type: none;
  padding: 0 1em;
}

.search {
  background-color: black;
}

.search>img {
  width: 2em;
  height: auto;
  margin-top: 0.6em;
}

/* end header */

.document-info {
  background-color: #f5f9fa;
  padding: 30px 0 30px 0;
  display: block;
}

h1 {
  font-size: 45.33px;
  padding-left: 30px;
  padding-top: 30px;
}

.center-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 9%;
}

.center-buttons {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.buttons-page {
  padding: 5px 0;
  width: auto;
  margin-left: 10px;
}

.buttons-page {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 10px;
  /*width: 25%;*/
}

.container {
  width: 80%;
  margin: auto;
}

.container-aside-article {
  display: flex;
  justify-content: space-between;
}

.column-aside {
  /*background-color: blue;*/
  width: 25%;
  height: auto;
  padding: 20px;
  letter-spacing: 1px;
}

.aside-list {
  list-style-type: none;
  padding: 10px;
}

.info-text {
  /*background-color: green;*/
  width: 75%;
  height: auto;
  padding: 25px;
}

.info-text p {
  box-sizing: border-box;
  max-width: 672px;
  margin-bottom: 24px;
}

/*footer*/
.nav-footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 20px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
}

.box-footer-center {
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
}

.footer-title{
  font-size: 17.5px;
  margin-bottom: 20px;
}

.list-footer {
  list-style-type: none;
  color: #fff;
}

.nav-footer a {
  color: #83d0f2;
  text-decoration: none;
  padding: 5px;
}

.footer-social{
  font-size: 24px;
  display: inline-block;
}

.footer-mdn {
  top: 20px;
  width: 40%;
  height: auto;
}

.footer-mozilla {
  width: 40%;
  height: auto;
}

.logo-footer {
  width: 217px;
  height: 100px;
}

/*nuevos estilos*/
.description {
  font-size: 1.2em;
  color: #2a2a2b;
  padding: 25px;
  width: 90%;
}

h2 {
  font-size: 2em;
  margin-top: 20px;
}

h3 {
  font-size: 1.5em;
  margin: 30px 30px 10px 30px;
}

.syntaxbox {
  padding: 5px;
  width: 60%;
  font-family: consolas, monaco, 'Andale Mono', monospace;
  text-align: left;
  border-left: 8px solid #597e92;
  border-top: 1px solid #597e92;
  border-bottom: 1px solid #597e92;
  border-right: 1px solid #597e92;
  margin: 20px 0px 10px 30px;
  color: gray;
}

.code-params {
  font-size: 1.2em;
  margin-left: 40px;
  font-weight: bold;
  background: lightgrey;
}

.param-description {
  font-size: 1.2em;
  margin: 5px 50px 30px 50px;
}

code {
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px;
}

.aside-title {
  font-size: 1.2em;
  font-variant: small-caps;
  margin-top: 30px;
}